premis: http://www.loc.gov/premis/rdf/v1#
test: info:fedora/test/
memento: http://mementoweb.org/ns#
rdfs: http://www.w3.org/2000/01/rdf-schema#
webac: http://fedora.info/definitions/v4/webac#
acl: http://www.w3.org/ns/auth/acl#
vcard: http://www.w3.org/2006/vcard/ns#
iana: http://www.iana.org/assignments/relation/
xsi: http://www.w3.org/2001/XMLSchema-instance
xmlns: http://www.w3.org/2000/xmlns/
rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns#
fedora: http://fedora.info/definitions/v4/repository#
xml: http://www.w3.org/XML/1998/namespace
ebucore: http://www.ebu.ch/metadata/ontologies/ebucore/ebucore#
ldp: http://www.w3.org/ns/ldp#
dcterms: http://purl.org/dc/terms/
xs: http://www.w3.org/2001/XMLSchema
fedoraconfig: http://fedora.info/definitions/v4/config#
foaf: http://xmlns.com/foaf/0.1/
dc: http://purl.org/dc/elements/1.1/
{% for namespace in fcrepo_additional_namespaces %}
{{ namespace.prefix }}: {{ namespace.url }}
{% endfor %}
