{
    "name" : "repo",
    "jndiName" : "",
    "workspaces" : {
        "predefined" : ["default"],
        "default" : "default",
        "allowCreation" : true,
        "cacheSize" : 10000
    },
    "storage" : {
        "persistence": {
            "type" : "db",
            "connectionUrl": "jdbc:mysql://{{ fcrepo_mysql_host }}:{{ fcrepo_mysql_port }}/{{ fcrepo_mysql_database }}?createDatabaseIfNotExist=true",
            "driver" : "com.mysql.jdbc.Driver",
            "username" : "{{ fcrepo_mysql_username }}",
            "password" : "{{ fcrepo_mysql_password }}"
        },
        "binaryStorage" : {
            "type" : "file",
            "directory" : "{{ fcrepo_data_dir }}/binaries",
            "minimumBinarySizeInBytes" : 4096
        }
    },
    "security" : {
        "anonymous" : {
            "roles" : ["readonly","readwrite","admin"],
            "useOnFailedLogin" : false
        },
        "providers" : [
            { "classname" : "org.fcrepo.auth.common.ShiroAuthenticationProvider" }
        ]
    },
    "garbageCollection" : {
        "threadPool" : "modeshape-gc",
        "initialTime" : "00:00",
        "intervalInHours" : 24
    },
    "node-types" : ["fedora-node-types.cnd"]
}
